/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
.log/记账本_HarmonyOS项目开发报告.doc
.log/~$本_HarmonyOS项目开发报告_v2.doc
.log/记账本_HarmonyOS项目开发报告_v2.doc
